/* tailwind styles */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* totla styles */

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  direction: rtl;
  font-family: 'yekanBakh';
  color: #727272;
  outline: none !important;
}
@font-face {
  font-family: 'yekanBakh';
  src: url('../public/fonts/YekanBakhENBold.woff');
  src: url('../public/fonts/YekanBakhENMedium.woff');
  src: url('../public/fonts/YekanBakhFaBold.woff');
  src: url('../public/fonts/YekanBakhFaMedium.woff');
}
/* custom totla styles */
.primary-color{
  color: #4E21CE;
}
.primary-color-hover:hover{
  color: #4E21CE;
}
.secondary-color{
  color: #0083FF;
}
.secondary-color-hover:hover{
  color: #0083FF;
}
.primary-bg{
  background: #4E21CE;
  color: #fff;
}
.primary-bg-hover:hover{
  background: #4E21CE;
  color: #fff;
}
.secondary-bg{
  background: #0083FF;
  color: #fff;
}
.secondary-bg-hover:hover{
  background-color: #0083FF;
  color: #fff;
}
.primary-border{
  border-color: #4E21CE80;
}
.secondary-border{
  border-color:  #0083FF80;
}

/* header styles */
@media (max-width:700px) {
  .header{display: none}
  header.borderr{padding: 0 !important;}
}
@media (min-width:700px) {
  .mb-header{display: none;}
}
