.searchContainer{
    background: url('../public/assets/bg.png');
    background-position: top;
    background-repeat: no-repeat;
}

@media (max-width: 700px) {
    .searchContainer{
        background: url('../public/assets/mobile-bg.png');
        background-repeat: no-repeat;
        background-position: center;
    }
}